.blog, .archive {
    .entry-meta {
        margin-bottom: 10px;
        border: none;
    }

    .entry-title {
        font-size: 25px;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }

    .content {
        .entry-image {
            margin-bottom: 10px;
        }
    }

    .entry-content {
        .button {
            margin-top: 15px;
        }
    }

    .entry-footer {
        border-bottom: 1px solid rgba( $lisd_orange, 0.3 );
        padding-bottom: 50px;
        margin-bottom: 20px;
    }
    
    .entry:last-child .entry-footer {
        border: none;
    }
}


.post-type-archive-partners {
    .entry {
        margin-top: 0;
        margin-bottom: 0;
    }

    .entry-footer {
        .entry-meta {
            margin: 40px 0;
        }
    }

    .archive-description {
        text-align: center;

        .archive-title {
            color: #222;
        }
    }

    .content {
        width: auto;
        float: none;

        .partner-container {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.widget_categories,
.widget_archive {
    padding: 15px 15px;
    background-color: rgba( $lisd_darkblue, 0.1 );
    margin-bottom: 15px;
    border-radius: 3px;

    .widget-title {
        margin-bottom: 10px;
    }
}

.widget.add-top-spacing {
    margin-top: 50px;
}

.widget_recent_entries li {
border-bottom: 1px dotted rgba( $lisd_darkblue, 0.2 );
}