body.post-type-archive-events {
	h2.entry-title {
		margin-bottom: 5px;
	}
}

body.single-events {
	h1.entry-title {
		margin-bottom: 5px;
	}
}

#be-event-calendar {
	h2 {
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 15px;
	}

	.fc-event {
		background-color: $lisd_darkblue;
		font-size: 11px;
		border: none;
		padding: 2px;
		border-radius: 0;
		font-weight: 400;
	}

	.fc-state-default {
		background: none;
		background-color: rgba( $lisd_darkblue, 0.2 );
	}

	.fc-toolbar button:focus {
		outline: 0;
	}

	.fc-today {
		background: none;
		background: rgb(253, 224, 210);
	}
}

body.post-type-archive-events,
body.single-events {

	.sidebar {
		width: 40%;
	}

	.content {
		width: 55%;
	}

	@media( max-width: 800px ) {
		

		.sidebar {
			width: 100%;
			float: none;
		}

		.content {
			width: 100%;
			float: none;
		}
	}
}