body.full-width-content.page-template-fellows .content {
    max-width: 1200px;
}

.page-template-fellows {
    .fellows-grid {
        margin-bottom: 35px;
        
        .wp-post-image {
            float: left;
            margin-right: 10px;
            width: 150px;
        }

        > hr {
            padding-top: 0;
        }

        > div {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
        }
    }

    .entry {
        margin-bottom: 0;
    }

    .previous-fellows {
        .fellows-class {
            margin-bottom: 30px;
        }
    }

    h3 {

        margin-bottom: 5px;
        font-size: 22px;


        a {
            text-decoration: none;
            color: $lisd_darkblue;
        }

        a:hover {
            color: $lisd_orange;
        }
    }

    .entry-title {
        text-align: center;
        margin-bottom: 0px;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 20px;
        color: rgba( $lisd_darkblue, 0.5 );
        text-align: center;
        font-weight: 400;
        margin-bottom: 35px;
    }
}

.type-members .entry-footer .entry-meta {
    border-top: none;
}

.single-members .entry-title {
    margin-bottom: 5px;
    font-size: 30px;
    text-align: left;
}

.single-members .member-subtitle {
    opacity: 0.5; 
    margin-bottom: 25px;
    text-align: left;
}