body {
    font-family: 'Roboto Condensed', sans-serif;
    > div {
        font-size: 18px;
    }

    @media( max-width: 767px ) {
        > div {
            font-size: 16px;
        }
    }
}

.inner {
    @media( max-width: 767px ) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

body.full-width-content {
    background-color: rgba( $lisd_darkblue, 0.05 );

    @media( max-width: 767px ) {
        background-color: white;
    }
    
    .content {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        background-color: white;
        padding: 30px 40px;

        @media( max-width: 767px ) {
            padding: 0;
        }
    }
    
}

body.page-template-default {
    @media( min-width: 1200px ) {

        background-color: rgba( $lisd_darkblue, 0.05 );

        .content {
            padding: 30px 40px;
            background-color: white;
        }
    }
}

body.full-width-content.home {

    .content {
        max-width: 100%;
        padding: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: $lisd_orange;
    text-decoration: none;
}

.content {
    p,
    ul,
    ol,
    h1,
    h2,
    h3,
    h4 {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
}


body .button,
body .gform_wrapper .gform_footer input[type="submit"] {
    font-size: 15px;
    letter-spacing: 4px;
    border-radius: 3px;
    background-color: $lisd_orange;
    border: 2px solid $lisd_orange;
    padding: 12px 25px;
    font-weight: 400;
    transition: .3s all ease;
    letter-spacing: 4px;
    font-size: 15px;

    &:hover {
        background-color: $lisd_darkblue;
        border-color: $lisd_darkblue;
        color: white;
    }

    &.button-alt {
        background-color: transparent;
        border: 2px solid #FFFFFF;

        &:hover {
            background-color: rgba(255,255,255,0.25);
        }
    }

    &.button-small,
    &.read-more {
        padding: 8px 15px;
        font-size: 13px;
        letter-spacing: 3px;
    }

    @media( max-width: 767px ) {
        padding: 8px 15px;
        font-size: 13px;
        letter-spacing: 3px;
    }
}

.pull-right {
    float: right;
}

hr {
    border-bottom: 1px solid $lisd_orange;
    padding: 0;
    padding: 40px 0 0;
    margin: 0 auto 40px;
    clear: both;
}

.entry-footer .entry-meta {
    border-top: 1px solid $lisd_orange;
}

.entry {
    margin-bottom: 40px;

    .read-more {
        margin-top: 10px;
    }
}

.entry-title {
    font-size: 35px;
}

.site-inner {
    @media( max-width: 767px ) {
        padding-top: 15px;
    }
}

.posts-navigation {
    a {
        font-size: 15px;
        letter-spacing: 4px;
        border-radius: 3px;
        background-color: #F26522;
        border: 2px solid #F26522;
        padding: 14px 24px;
        font-weight: bold;
        color: #FFFFFF;
        font-family: 'Roboto Condensed', sans-serif;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: #cd551c;
            border: 2px solid #cd551c;
        }
    }
}

.sidebar {

    .widget {
        margin-bottom: 25px;
    }

    .widget.highlight {
        padding: 15px 20px;
        background-color: rgba(242, 101, 34, 0.12);
        border-radius: 3px;
        border: 2px solid rgba(242, 101, 34, 0.3);
    }

    .widget_text {
        .widget-title {
            margin-bottom: 10px;
        }

        .textwidget {
            line-height: 1.6em;

            p {
                margin-bottom: 10px;
            }
        }

        ul {
            margin-left: 20px;
        }

        ul > li {
            margin-bottom: 0;
            padding-bottom: 0;
            list-style: disc;
            line-height: 1.4em;
            margin-bottom: 5px;
        }
    }
}