body {
	.gform_wrapper .top_label .gfield_label {
		margin: 0;
		font-weight: 400;
	}

	.gform_wrapper label.gfield_label+div.ginput_container {
		margin-top: 0 !important;
	}

	.gform_wrapper input[type=email],
	.gform_wrapper input[type=number],
	.gform_wrapper input[type=password],
	.gform_wrapper input[type=tel],
	.gform_wrapper input[type=text],
	.gform_wrapper input[type=url],
	.gform_wrapper textarea {
		min-height: 50px;
		padding: 10px;
		transition: all .3s ease;
		border-radius: 3px;
	}

	.gform_wrapper ul li.gfield {
		margin-bottom: 20px;
	}

	.gform_wrapper .gfield_date_day label,
	.gform_wrapper .gfield_date_month label,
	.gform_wrapper .gfield_date_year label,
	.gform_wrapper .gfield_time_ampm label,
	.gform_wrapper .gfield_time_hour label,
	.gform_wrapper .gfield_time_minute label,
	.gform_wrapper .ginput_complex label,
	.gform_wrapper .instruction {
		margin: 0;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
		opacity: 0.5;
	}

	.gform_wrapper h2.gsection_title {
		color: rgba( $lisd_darkblue, 0.2 );
	}

	.gform_wrapper li.gfield.gfield_error,
	.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		background-color: transparent;
		border: none;
	}

	.gform_wrapper div.validation_error {
		border: none;
		background-color: rgba( #790000, 0.1 );
		width: 100%;
		margin: 20px 0 0;
		padding: 15px 25px;
		font-weight: 400; 
		font-size: 20px;
		text-align: center;
	}

	.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description.validation_message {
		border: none;
		background-color: rgba(121, 0, 0, 0.1);
		color: #790000;
		width: 100%;
		margin: 10px 0 0 !important;
		padding: 10px 20px !important;
		font-weight: 400;
		display: block;
		max-width: 100%;
	}

	.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
	    margin-top: .75em;
	    margin-bottom: .75em!important;
	    margin-right: 0 !important;
	    padding-right: 0 !important;
	    width: 100%;
	    max-width: 100% !important;
	}

	.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half, .gform_wrapper .top_label li.gfield.gfield_error.gf_right_half {
		width: 50% !important;
	}

	.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.has_last_name span {
		width: 31%;
	}

	#field_5_66,
	#gield_5_70,
	#field_5_75,
	#field_5_81 {
		.gfield_required {
			display: none;
		}
	}

	.gform_wrapper .form_saved_message {
		background-color: rgba(242, 101, 34, 0.12);
	    border-radius: 3px;
	    border: 2px solid rgba(242, 101, 34, 0.3);
	}
}

body.full-width-content,
body.page-template-default {
	.gform_wrapper .gsection {
		background-color: rgba( $lisd_darkblue, 0.1 );
		border-bottom: 0;
		padding: 20px;
		margin-left: -20px !important;
		margin-right: -30px !important;

		p:last-child {
			margin-bottom: 0;
		}

		.gsection_description {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		@media( min-width: 767px ) {
			margin-left: -40px !important;
			padding-left: 40px !important;
			padding-right: 20px !important;
			margin-right: -56px !important;
		}
	}
}

select {
	height: 40px;
}

select:focus {
	outline: 0;
}