section.logo {
    text-align: center;
    padding: 20px 0;
    border-top: 3px solid $lisd_orange;

    img {
        max-width: 90%;
    }

    @media (min-width: 480px) {
        img {
            max-width: 400px;
        }
    }
}

.after-header {
    border: none;
}

.genesis-nav-menu {
    text-align: center;
    background-color: $lisd_darkblue;

    .menu-item {
        float: none;
        text-transform: uppercase;
    }

    @media (min-width: 881px) {

        .menu-item-has-children {
            position: relative;

            > a:after {
                content: "\f347";
                display: inline-block;
                font: normal 16px/1 'dashicons';
                text-rendering: auto;
                -webkit-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);
                line-height: 20px;
                vertical-align: middle;
                opacity: 0.5;
                position: absolute;
                top: 50%;
                right: -20px;
                margin-top: -10px;
            }

            .menu-item-has-children {
                > a:after {
                    content: "\f345";
                }
            }
        }
    }

    > .current-menu-item {
        > a {
            border-bottom: 2px solid $lisd_orange;
        }
    }

    > li {
        > a {
            &.focus, &:hover {
                border-bottom: 2px solid $lisd_orange;
            }
        }
    }
}

@media (max-width: 880px) {
    .js {
        nav .genesis-nav-menu .menu-item a,
        nav .genesis-nav-menu .menu-item a:hover,
        nav .genesis-nav-menu .menu-item a:focus,
        nav .genesis-nav-menu .menu-item .sub-menu li a,
        nav .genesis-nav-menu .menu-item .sub-menu li a:hover,
        nav button:hover,
        .menu-toggle,
        .menu-toggle:hover,
        .sub-menu-toggle,
        .nav-secondary {
            background-color: $lisd_darkblue;
        }
    }

    .genesis-nav-menu > .menu-item > .sub-menu {
        padding-left: 20px;

        > .menu-item > .sub-menu {
            padding-left: 20px;
        }
    }
}