section.logo {
    text-align: center;
    padding: 20px 0;
    border-top: 3px solid $lisd_orange;

    img {
        max-width: 90%;
    }

    @media (min-width: 480px) {
        img {
            max-width: 400px;
        }
    }
}

.genesis-nav-menu {
    text-align: center;
    background-color: $lisd_darkblue;

    .menu-item {
        float: none;
        text-transform: uppercase;
    }

    .menu-item-has-children {
        > a:after {
            content: "\f347";
            display: inline-block;
            font: normal 16px/1 'dashicons';
            text-rendering: auto;
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
            line-height: 20px;
            padding-left: 4px;
            vertical-align: middle;
            opacity: 0.5;
        }

        .menu-item-has-children {
            > a:after {
                content: "\f345";
            }
        }
    }

    > .current-menu-item {
        > a {
            border-bottom: 2px solid $lisd_orange;
        }
    }

    > li {
        > a {
            &.focus, &:hover {
                border-bottom: 2px solid $lisd_orange;
            }
        }
    }
}