.page-template-our-team {
    .our-team-grid {
        text-align: center;
        padding-top: 15px;

        .wp-post-image {
            width: 280px;
            height: auto !important;
            margin-bottom: 10px;
        }

        > hr {
            padding-top: 0;
        }

        > div {
            margin-bottom: 30px;
        }

        h3 {
            margin-bottom: 5px;
            font-size: 25px;
        }

        .title {
            margin-bottom: 10px;
            text-transform: uppercase;
            opacity: 0.5;
            font-size: 16px;
            line-height: 1.2em;
        }

        p {
            margin-bottom: 0;
        }
    }

    .entry {
        margin-bottom: 0;
    }

    .entry-title {
        text-align: center;
    }
}