.pagination {
    li {
        a {
            color: #FFFFFF;
            background-color: $lisd_darkblue;
            padding: 8px 18px;
            border-radius: 3px;
        }

        &.active {
            a {
                color: #FFFFFF;
                background-color: $lisd_orange;
            }
        }
    }

    .pagination-omission {
        vertical-align: bottom;
        margin: 0 10px;
    }
}